* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: #fff;
	font-weight: normal;
}

body {
	background-color: #211c5b;
}

nav {
	width: 100%;
	height: 6rem;
	background-color: #09103a;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.nav-title-container {
	margin-left: 2rem;
	display: flex;
	align-items: center;
}

.nav-title {
	font-size: 2rem;
}

.nav-img-container {
	margin-top: 1rem;
	margin-right: 2rem;
}

.nav-img {
	width: 12rem;
	display: block;
}

main {
	margin: 4rem;
}

.ride {
	padding: 2rem;
	width: 15rem;
}

.ride-down {
	background-color: #f2b104;
}

.ride-pannel-info {
	display: flex;
	flex-direction: column;
}

.ride-pannel-info-item {
	margin: 0.4rem 0 0 0;
}