.border {
	border: 4px;
	border-style: solid;
	border-color: #fff;
}

.title {
	font-family: "Bree Serif";
}

.text {
	font-family: Lato;
}

.button {
	background-color: #d10017;
	color: #fff;
	font-weight: 700;
	padding: 1rem;
	border: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
}

.button:hover {
	background-color: #b10013;
	transition: background-color 500ms ease;
}

.show {
	visibility: visible;
	display: block;
}

.hide {
	visibility: hidden;
	display: none;
}